.root {
    main-color: #2a2e30;
    -fx-background-color: main-color;
    /*-fx-background-image: url("../images/background.png");*/
    /*-fx-background-size: stretch;*/
}

.text-field {
    -fx-background-color: #819aa6;
    -fx-font: 16px "Courier New";
    -fx-prompt-text-fill: #696969;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #c1cce5;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}